* {
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: darkgray;
  color: aliceblue;
}

header {
  text-align: center;
  font-size: 30px;
  height: 200px;
  background-color: darkslategray;
}

main {
  margin: auto;
  width: 800px;
}

.todo {
  padding: 20px;
  background-color: cadetblue;
  display: flex;
}

.name {
  border: 2px solid darkslategray;
  width: 70%;
  padding: 20px;
  background-color: aliceblue;
  color: cadetblue;
  height: 70px;
}

.add,
.select-all {
  border: 2px solid darkslategray;
  background-color: cadetblue;
  color: aliceblue;
  padding: 20px;
  width: 30%;
  cursor: pointer;
}

.add:hover,
.select-all:hover {
  background-color: darkslategray;
}

.list {
  background-color: cadetblue;
  padding: 20px;
  cursor: pointer;
}

.item {
  margin-bottom: 10px;
  display: flex;
}

.list p {
  width: 70%;
  border: 2px solid darkslategray;
  color: aliceblue;
  padding: 20px;
}

.list p:hover {
  background-color: darkslategray;
}

.delete {
  width: 30%;
  color: aliceblue;
  background-color: brown;
  border: none;
  cursor: pointer;
}

.delete:hover {
  background-color: crimson;
}

.select {
  background-color: darkslategray;
}
